.input-field {
    width: auto;
    padding: 0.75rem;
    border-radius: 0.625rem;
    font: var(--font-caption-opensans-regular-16);
    outline: none;
}

.gray {
    background-color: white;
    color: var(--text-dark-grey-75);
    border: 1px solid var(--text-dark-grey-75);
    margin: 0
}

.gray::placeholder {
    color: var(--text-dark-grey-75);
}

.input-field.gray:focus {
    border-color: var(--text-dark-grey-100);
}

.colorful {
    background-color: var(--background-sunset-25);
    color: var(--info-tan-75);
    border: 1px solid var(--info-tan-75);
}

.colorful::placeholder {
    color: var(--info-tan-75);
}

.input-field.colorful:focus {
    border-color: var(--info-tan-100);
}