.secondary-button {
    padding: 0.5rem 1rem;
    font: var(--font-body-opensans-regular-18);
    width: auto;
    height: 3rem;
    background-color: transparent;
    border-style: solid;
    border-width: 0.2rem;
    border-radius: 0.625rem;
}

.sec-btn-tan {
    color: var(--info-tan-100);
    border-color: var(--info-tan-100);
}

.sec-btn-tan:hover {
    color: var(--info-tan-hover);
    border-color: var(--info-tan-hover);
    font-weight: bold;
}

.sec-btn-rose {
    border-width: 0.1rem;
    color: var(--secondary-chine-rose-100);
    border-color: var(--secondary-chine-rose-100);
}

.sec-btn-rose:hover {
    border-width: 0.15rem;
    color: var(--secondary-chine-rose-hover);
    border-color: var(--secondary-chine-rose-hover);
    font-weight: bold;
}

.sec-btn-gray {
    border-width: 0.1rem;
    color: var(--text-dark-grey-50);
    border-color: var(--text-dark-grey-50);
}

.sec-btn-gray:hover {
    border-width: 0.15rem;
    color: var(--text-dark-grey-75);
    border-color: var(--text-dark-grey-75);
    font-weight: bold;
}