.toggle-button {
  background-color: transparent;
  color: var(--text-dark-grey-75);
  border: 1px solid var(--text-dark-grey-25);
  padding: 8px 30px;
  font: var(--font-caption-opensans-regular-16);
  border-radius: 10px;
  cursor: pointer;
  transition: color 0.3s, border-color 0.3s;
  outline: none;
  box-shadow: none;
  flex-grow: 1;
}

.toggle-button.active {
  color: var(--secondary-chine-rose-100);
  border: 2px solid var(--secondary-chine-rose-100);
  font-weight: 600;
}

.toggle-button:hover:not(.active) {
  border-color: var(--text-dark-grey-75);
}

.toggle-button:active,
.toggle-button:focus {
  outline: none;
  box-shadow: none;
}
