.resume-edit-page {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 2rem;
    padding: 2rem;
    background-color: white;
    min-height: 100vh;
    align-items: start;
}

.resume-edit-page-form {
    background: white;
    border-radius: 1rem;
    overflow-y: auto;
}

.resume-edit-page-preview {
    position: sticky;
    top: 2rem;
    align-self: flex-start;
    height: fit-content;
    max-height: calc(100vh - 4rem);
    overflow: auto;
    border-radius: 1rem;
    border: 1px solid var(--primary-moonstone-100);
    -ms-overflow-style: none;
    scrollbar-width: none;
}