.resume-edit-page {
    display: grid;
    grid-template-columns: 0.83fr 1.25fr;
    gap: 2rem;
    padding: 2rem;
    background-color: #fafafa;
    min-height: 100vh;
}

.resume-edit-page-form {
    background: white;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.resume-edit-page-preview {
    position: sticky;
    align-self: flex-start;
    height: fit-content;
    max-height: calc(100vh - 40px);
    overflow: auto;
}